{% extends "mi06VitrineBundle::layout.html.twig" %}
{% block content %}
    <h1>Mentions légales</h1>
    <p>
        Forme de la société : société anonyme<br/>
        Capital social : 1 137 979.08 €<br/>
        RCS de Lyon : 403 554 181<br/>
        Siège social : 2 RUE DES ERABLES  CS21035  69578 LIMONEST CEDEX  FRANCE<br/>
        Numéro de TVA : FR 26 403 554 181<br/>
        Hébergeur du site : Groupe C discount ++<br/>
        Directeur de la publication : Fabien Charvaz
    </p>
    <p>
        Numéros d'appel (standard du siège social) :<br/>
        Tél : 04 42 00 00 00<br/>
        du lundi au vendredi de 9h00 à 12h30 et de 13h45 à 18h (heure de Paris)
    </p>
    <p>
        Le Groupe Groupe C discount ++ a fait l’objet d’une déclaration à la CNIL sous le n° 7604238<br/>
        Responsable du site web : Fabien Charvaz<br/>
        Hébergeur du site : Groupe C discount ++<br/>
        Directeur de la publication : Fabien Charvaz
    </p>
    <p>
        Propriété intellectuelle<br/>
        Nous vous informons que toute reproduction ou représentation totale ou partielle, par quelque procédé que ce soit, de ce site, des logos, des images pouvant y figurer est interdite sans l’autorisation expresse du Groupe C discount ++ et constituerait une contrefaçon sanctionnée par les articles L 335-2 et suivants du Code de la propriété intellectuelle.
    </p>
{% endblock %}
