<div class="list-group">
    <a href="{{ path('articlecategorie_index') }}" class="list-group-item">Categories</a>
    <a href="{{ path('article_index') }}" class="list-group-item">Articles</a>
    <a href="{{ path('commande_index') }}" class="list-group-item">Commandes</a>
</div>
