{% extends "mi06VitrineBundle::layout.html.twig" %}
{% block content %}
    <h1>Créer mon compte</h1>
    <div class="row">
        <div class="col-lg-6">
            {{ form_start(newClientForm) }}
                {{ form_widget(newClientForm) }}
            {{ form_end(newClientForm) }}
            <p>Déjà inscrit ? <a href="/login">Me connecter</a></p>
        </div>
        
    </div>
{% endblock %}
