{% extends "mi06VitrineBundle::layout.html.twig" %}
{% block content %}
    <div class="col-lg-9">
        <h1>Votre commande {{ commande.id }} a bien été passée</h1>
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Article</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                    </tr>
                </thead>
                <tbody>
                {% for ligneCommande in commande.ligneCommande %}
                    <tr>
                        <td>{{ ligneCommande.article }}</td>
                        <td>{{ ligneCommande.articlePrix }}</td>
                        <td>{{ ligneCommande.quantite }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>  
        <!-- /.row -->
        </div>
    </div>
    <!-- /.col-lg-9 -->
{% endblock %}
