{% extends "mi06VitrineBundle:backoffice:layout.html.twig" %}
{% block content %}
    <h1>Nouvel Article</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="Create" />
    {{ form_end(form) }}

    <p>
        <a href="{{ path('article_index') }}">Retour</a>
    </p>
{% endblock %}
