<div class="list-group">
    <a href="/backoffice/articlecategorie" class="list-group-item">Categories</a>
    <a href="/backoffice/article" class="list-group-item">Articles</a>
    <a href="/backoffice/commande" class="list-group-item">Commandes</a>
</div>
