<div class="col-lg-3">
    <h1 class="my-4">Shop Name</h1>
    <div class="list-group">
        <a href="/accueil" class="list-group-item">Accueil</a>
        <a href="/catalogue" class="list-group-item">Catalogue</a>
        <a href="/mentions" class="list-group-item">Mentions Légales</a>
    </div>
</div>