<div class="list-group">
    <a href="/accueil" class="list-group-item">Accueil</a>
    <a href="/catalogue" class="list-group-item">Catalogue</a>
    <a href="/mentions" class="list-group-item">Mentions Légales</a>
</div>
